.inner-box {
    flex: 1;
    padding: 15px;
    margin-top: 10px;
    font-size: 26px;
    background: lightgray;
    text-align: left;
    overflow-y: auto;
}

.outer-box {
    padding: 25px;
    background: #312509;
    height: 745px;
    width: 510px;
    text-align: center;
}