.inner-box {
    flex: 1;
    padding: 15px;
    margin-top: 10px;
    font-size: min(1.7vw, 23px);
    background: lightgray;
    text-align: left;
    overflow-y: auto;
}

.outer-box {
    padding: 25px;
    background: #312509;
    height: 74.5vh;
    max-height: 745px;
    width: 35vw;
    max-width: 507px;
    text-align: center;
}
  
.search-button{
    background: #357266;
    border-radius: 15px;
    border-color: transparent;
    height: 8vh;
}

.search-button:hover{
    background: #2E583E;
}