.my-recipes-component {
    overflow-x: auto;
    max-width: 100%;
    width: min(100vw, calc(100% - 40px));
    margin: auto;
    text-align: center;
}

.my-recipes-component img{
    width: min(20vw,200px);
    height: min(20vw,200px);
}

.my-recipes-component table{
    font-size: min(2.4vw,24px);
    border-spacing: 50px;
    border: 1px solid;
    background-color: lightgray;
}

.my-recipes-component th, td { 
    padding: 10px;
    border: 1px solid;
}

.delete-my-recipe-button{
    background: #357266;
    border-radius: 15px;
    border-color: transparent;
    color: white;
    height: 8vh;
}