.header{
    height: 17.5vh;
    min-height: min(16.4vw,134px);;
    background-color: #0E3B43;
    width: 144vw;
}

.header img{
    margin-left: 2%;
    width:min(13.4vw,134px);
    height:min(13.4vw,134px);
    cursor: pointer;
}

.header h2{
    font-size: min(4vw, 40px);
    margin-left: 20px;
}

.header nav a:hover{
    color: darkgray !important;
    text-decoration: bold !important;
}

.header nav{
    font-size: min(3vw,32px);
    margin-right: 2%;
}

.active{
    text-decoration: underline;
}

.inactive{
    text-decoration: none !important;
}